        <!-- Content -->
        <div class="shop-heading text-center">
            <h1>All Clothing</h1>
            <ul class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li class="active">Shop</li>
            </ul>
        </div>
        <div class="container container-content">
            <div class="filter-collection-left hidden-lg hidden-md">
                <a class="btn"><i class="zoa-icon-filter"></i> Filter</a>
            </div>
            <div class="col-xs-12 hidden-md hidden-lg col-left collection-sidebar" id="filter-sidebar">
                <div class="close-sidebar-collection hidden-lg hidden-md">
                    <span>Filter</span><i class="icon_close ion-close"></i>
                </div>
                <div class="widget-filter filter-cate no-pd-top">
                    <h3>Categories</h3>
                    <ul>
                        <li><a class="active" href="">Mens</a></li>
                        <li><a href="">Womens</a></li>
                        <li><a href="">Kids</a></li>
                        <li><a href="">Accessories</a></li>
                        <li><a href="">Others</a></li>
                    </ul>
                </div>
                <div class="widget-filter filter-cate filter-color">
                    <h3>Filter by colors</h3>
                    <ul>
                        <li><a class="active" href="">Black</a></li>
                        <li><a href="">White</a></li>
                        <li><a href="">Grey</a></li>
                    </ul>
                </div>
                <div class="widget-filter filter-cate filter-size">
                    <h3>Filter by sizes</h3>
                    <ul>
                        <li><a class="" href="">S</a></li>
                        <li><a href="">M</a></li>
                        <li><a href="">L</a></li>
                        <li><a href="">XL</a></li>
                        <li><a href="">XS</a></li>
                    </ul>
                </div>
                <div class="widget-filter filter-cate filter-size">
                    <h3>Filter by price</h3>
                    <ul>
                        <li><a class="" href="">0 - $29</a></li>
                        <li><a href="">$30 - $59</a></li>
                        <li><a href="">$60 - $89 </a></li>
                    </ul>
                </div>
                <div class="widget-filter filter-cate filter-size">
                    <h3>Filter by brand</h3>
                    <ul>
                        <li><a class="" href="">Adidas</a></li>
                        <li><a href="">Nike</a></li>
                        <li><a href="">Bitis </a></li>
                    </ul>
                </div>
                <a class="zoa-btn btn-filter">
                        Filter
                    </a>
            </div>
            <div class="shop-top">
                <div class="shop-element left">
                    <ul class="js-filter">
                        <li class="filter filter-static hidden-xs hidden-sm">
                            <a href=""><i class="zoa-icon-filter"></i>Filter products</a>
                            <div class="dropdown-menu fullw">
                                <div class="col-md-15 col-lg-15 widget-filter filter-cate">
                                    <h3>Categories</h3>
                                    <ul>
                                        <li><a class="active" href="">Mens</a></li>
                                        <li><a href="">Womens</a></li>
                                        <li><a href="">Kids</a></li>
                                        <li><a href="">Accessories</a></li>
                                        <li><a href="">Others</a></li>
                                    </ul>
                                </div>
                                <div class="col-md-15 col-lg-15 widget-filter filter-cate filter-color">
                                    <h3>Filter by colors</h3>
                                    <ul>
                                        <li><a class="active" href="">Black</a></li>
                                        <li><a href="">White</a></li>
                                        <li><a href="">Grey</a></li>
                                    </ul>
                                </div>
                                <div class="col-md-15 col-lg-15 widget-filter filter-cate filter-size">
                                    <h3>Filter by sizes</h3>
                                    <ul>
                                        <li><a class="" href="">S</a></li>
                                        <li><a href="">M</a></li>
                                        <li><a href="">L</a></li>
                                        <li><a href="">XL</a></li>
                                        <li><a href="">XS</a></li>
                                    </ul>
                                </div>
                                <div class="col-md-15 col-lg-15 widget-filter filter-cate filter-size">
                                    <h3>Filter by price</h3>
                                    <ul>
                                        <li><a class="" href="">0 - $29</a></li>
                                        <li><a href="">$30 - $59</a></li>
                                        <li><a href="">$60 - $89 </a></li>
                                    </ul>
                                </div>
                                <div class="col-md-15 col-lg-15 widget-filter filter-cate filter-size">
                                    <h3>Filter by brand</h3>
                                    <ul>
                                        <li><a class="" href="">Adidas</a></li>
                                        <li><a href="">Nike</a></li>
                                        <li><a href="">Bitis </a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li class="filter">
                            <a onClick="return false;" href=""><i class="zoa-icon-sort"></i>Sort by:  <span>Best selling</span></a>
                            <ul class="dropdown-menu">
                                <li><a href="manual">Featured</a></li>
                                <li><a href="best-selling">Best Selling</a></li>
                                <li><a href="title-ascending">Alphabetically, A-Z</a></li>
                                <li><a href="title-descending">Alphabetically, A-Z</a></li>
                                <li><a href="price-descending">Price, high to low</a></li>
                                <li><a href="price-ascending">Price, low to high</a></li>
                                <li><a href="created-ascending">Date, old to new</a></li>
                                <li><a href="created-descending">Date, new to old</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="shop-element right">
                    <span>Showing 1-15 of 69 products</span>
                    <div class="view-mode view-group">
                        <a class="list-icon list"><i class="fa fa-circle" aria-hidden="true"></i></a>
                        <a class="grid-icon col active"><i class="zoa-icon-view-2"></i></a>
                        <a class="grid-icon col2"><i class="zoa-icon-view-3"></i></a>
                    </div>
                </div>
            </div>
            <div class="product-collection-grid product-grid bd-bottom">
                <div class="row engoc-row-equal">

                    <% @all_product.each do |product| %>
                    <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2 product-item">
                        <div class="product-img">
                            <a href="/details/<%= product.id %>"><img src="<%= product.path_to_litle_image %>" alt="" class="img-responsive"></a>
                            <div class="ribbon zoa-hot"><span>Hot</span></div>
                            <div class="product-button-group">
                                <a href="#" class="zoa-btn zoa-quickview">
                                    <span class="zoa-icon-quick-view"></span>
                                </a>
                                <a href="#" class="zoa-btn zoa-wishlist">
                                    <span class="zoa-icon-heart"></span>
                                </a>
                                <a href="#" class="zoa-btn zoa-addcart">
                                    <span class="zoa-icon-cart"></span>
                                </a>
                            </div>
                        </div>
                        <div class="product-info text-center">
                            <h3 class="product-title">
                                <a href=""><%= product.title %></a>
                            </h3>
                            <div class="short-desc">
                                <p class="product-desc">Round neck sweater with long sleeves. Features a knotted opening in the <br> front. Phasellus gravida dolor in sem placerat sodales lullam feugiat non <br>dolor id commodo.</p>
                            </div>
                            <div class="product-price">
                                <span><%= product.price %> руб.</span>
                            </div>
                            <div class="product-bottom-group">
                                <a href="#" class="zoa-btn zoa-quickview">
                                    <span class="zoa-icon-quick-view"></span>
                                </a>
                                <a href="#" class="zoa-btn zoa-wishlist">
                                    <span class="zoa-icon-heart"></span>
                                </a>
                                <a href="#" class="zoa-btn zoa-addcart">
                                    <span class="zoa-icon-cart"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <% end %>
                </div>
                    
                <div class="text-center">
                    <a href="" class="zoa-btn btn-loadmore">Load more</a>
                </div>
            </div>
        </div>
        <div class="newsletter">
            <div class="container">
                <div class="row">
                    <div class="col-md-5 col-sm-6 col-xs-12">
                        <div class="newsletter-heading">
                            <h3>get in touch</h3>
                            <p>Subscribe for latest stories and promotions (35% sale)</p>
                        </div>
                    </div>
                    <div class="col-md-7 col-sm-6 col-xs-12 flex-end">
                        <form class="form_newsletter" action="#" method="post">
                            <input type="email" value="" placeholder="Enter your emaill" name="EMAIL" id="mail" class="newsletter-input form-control">
                            <button id="subscribe" class="button_mini zoa-btn" type="submit">
                                Subscribe
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- EndContent -->
    </div>
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/slick.min.js"></script>
    <script src="js/countdown.js"></script>
    <script src="js/main.js"></script>
</body>

</html>